<!-- <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <script src="/detail.js">
      date_getter({{chapter.date_field}})
  </script> -->
  {%load static%}
  <script
  src="http://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<ul>
        {% for answer in chapter.answer_set.all %}
        <li>{{answer}}</li>
        {% endfor %}
</ul>  
<form action ="{% url 'book:detail_chapter' 1 %}" method = 'post'>
        {% csrf_token %}
 
  
    <input type=text value= {{chapter.chapter_text}} name='text' id='text_input'>
    <label for ='text_input'>Text input</label>
    <br>
<!--     <input type=file name='image_field' id='image_field'>
    <label for ='image_field'>image input</label> -->
    <br>
    <input type=datetime-local id="date_field" name='date_field'value ={{chapter.create_date}} id='date_field'>
    <label for ='date_field'>date  input</label>
    <br>
    
    <select>
        <option>something</option>
    <option>something2</option>
    <option>something3</option>
</select>
<input type='submit' value='vote'>
</form>